###### Requirements without Version Specifiers ######


###### Requirements with Version Specifiers ######
# python3 >= 3.4
setuptools >= 50.3.0
datarobot >= 2.0
statsmodels >= 0.9
plotly >= 4.10
umap-learn >= 0.3.10
ipywidgets >= 7.2.1
scikit-learn >= 0.22.1  
psycopg2 >= 2.7
matplotlib >= 2.2
seaborn >= 0.9